<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    {#support mobiles#}
    {#    <meta name="viewport" content="width=device-width, initial-scale=1.0">#}
    <meta name="viewport" content="width=device-width,
                                     initial-scale=1.0,
                                     maximum-scale=1.0,
                                     user-scalable=no">
    {% include 'staticLinks.html' %}


    <title>{% block title %}
        this is the default title
    {% endblock %}</title>
</head>
<body>

<div class="container">
    <div class="row">
        {#    <div class="row" style="background:#1a0; color:#FFF">#}
        <div class="col-xs-10">
            {% include 'mainTitle.html' %}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            {% include 'nav.html' %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">

            <div id="myTabContent" class="tab-content">
                <br/>
                <br/>
                <br/>
                {% for titleEnName in titles %}
                    {% if forloop.first %}
                        <div class="tab-pane fade in active" id="{{ titleEnName.enName }}">
                            <p> will show {{ titleEnName.enName }}.html page</p>
                            {% include titleEnName.enName %}
                        </div>
                    {% else %}
                        <div class="tab-pane fade" id="{{ titleEnName.enName }}">
                            <p> will show {{ titleEnName.enName }}.html page</p>
                        </div>
                    {% endif %}
                {% endfor %}

                {#                <div class="tab-pane fade in active" id="home">#}
                {#                    <p>自强学堂是一个提供最新的web技术的站点，我们将将国外的精华教程收集到国内, 让每个人享受平等学习的机会!我们的目标是只要你坚持来自强学堂,我们提供的教程就能让你变得更强!</p>#}
                {#                </div>#}
                {#                <div class="tab-pane fade" id="ios">#}
                {#                    <p>iOS 是一个由苹果公司开发和发布的手机操作系统。最初是于 2007 年首次发布 iPhone、iPod Touch 和 Apple#}
                {#                        TV。iOS 派生自 OS X，它们共享 Darwin 基础。OS X 操作系统是用在苹果电脑上，iOS 是苹果的移动版本。</p>#}
                {#                </div>#}
                {#                <div class="tab-pane fade" id="jmeter">#}
                {#                    <p>jMeter 是一款开源的测试软件。它是 100% 纯 Java 应用程序，用于负载和性能测试。</p>#}
                {#                </div>#}
                {#                <div class="tab-pane fade" id="{{ titleEnName.enName }}">#}
                {#                    <p>Enterprise Java Beans（EJB）是一个创建高度可扩展性和强大企业级应用程序的开发架构，部署在兼容应用程序服务器（比如 JBOSS、Web Logic 等）的 J2EE 上。#}
                {#                    </p>#}
                {#                </div>#}
            </div>
            <div>
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li class="disabled">
                          <span>
                              <span aria-hidden="true">&laquo;</span>
                          </span>
                        </li>
                        <li class="active">
                            <span>1 <span class="sr-only">(current)</span></span>
                        </li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li>
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>

            <nav aria-label="...">
                <ul class="pager">
                    <li class="previous disabled"><a href="#"><span aria-hidden="true">&larr;</span> Older</a></li>
                    <li class="next"><a href="#">Newer <span aria-hidden="true">&rarr;</span></a></li>
                </ul>
            </nav>
            {#            {% block content %}#}
            {#                <div>this is default content!</div>#}
            {#            {% endblock %}#}
        </div>
        <div class="col-sm-3  blog-sidebar">
            <br>
            {% include 'search.html' %}
            <br>
            {#            {% include 'aboutShort.html' %}#}
            {% include 'recent.html' %}
            {% include 'catigory.html' %}
            {% include 'archives.html' %}
            {% include 'elseWhere.html' %}
        </div>
    </div>


    <div class="row">
        <div class="col-xs-12">
            {% include 'bottom.html' %}

            {% include 'tongji.html' %}
        </div>
    </div>
</div>


</body>
</html>