<!DOCTYPE html>

{% extends 'base.html' %}

{% block title %}
    home
{% endblock %}

{% block content %}
    this is home's content

    {% for i in myList %}
        {{ i }}<br/>

    {% endfor %}

    {% for i in allPeople %}
        name: {{ i.name }}  age:{{ i.age }} <br>
    {% endfor %}


    <form action="/add/" method="get">
        a:<input type="text" name="a"><br/>
        d:<input type="text" name="d"><br/>

        <input type="submit" id="sum">submit to test with normal Form.</input>
        <p>result:<span id='result'></span></p>

    </form>



    <form action="/add/" method="get">
        a:<input type="text" id="a" name="a"><br/>
        d:<input type="text" id="d" name="d"><br/>

        <button type="button" id="sum">submit to test with Js</button>
        <p>result:<span id='result'></span></p>

    </form>

    <script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
    doesn't support "Empty Tag" in Chrome !!!!
    <script>
        $(document).ready(function () {
            $("#sum").click(function () {
                var a = $("#a").val();
                var d = $("#d").val();
                $.get("/add/", {'a': a, 'd': d}, function (ret) {
                    $('#result').html(ret)
                })


            });
        });
    </script>


{% endblock %}

