<!DOCTYPE html>
<div class="panel panel-default">
    <div class="panel-heading">Recent<span class="badge pull-right" >14</span></div>
    <div class="panel-body">
        <ol class="list-unstyled">
            <li><a href="#">Recent1</a></li>
            <li><a href="#">Recent2</a></li>
            <li><a href="#">Recent3</a></li>
            <li><a href="#">Recent4</a></li>
            <li><a href="#">Recent5</a></li>
            <li><a href="#">Recent6</a></li>
        </ol>
    </div>
</div>